body{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: rgb(25, 49, 41);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    
    
}

/* TITLE */
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 0px 10px rgb(150, 179, 169);
    background-color: rgb(25, 49, 41);
    color: white;
    height: 60px;
    margin-top: 0px;
    
    
    
}


.milkProduce{
    display: flex;
    
}

/* FORM */

/* Input and Label */

.formData {
    width: 40%;
    margin-right: 20px;
    
}

form > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

form > div > input[type="number"]{
    height: 30px;
    width: 300px;
}

/* Button */
form > button {
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px 40px;
    width: 300px;
    
}

form > button[type = "submit"]{
    margin-top: 20px;
}
form > button[type = "submit"], form > button[type = "reset"]{
    background: none;
    color: white;
    border: 1px solid white;
}


/* OUTPUT DISPLAY */
.outputDisplay{
    overflow: auto;
    width: 50%;
    box-shadow:0px 0px 10px rgb(150, 179, 169);
    background-color: rgb(25, 49, 41);
    border-radius: 4px;
    font-size: 16px;
    margin-right: 20px;
    height: 550px;
}

#displayTitle{
    text-align: center;
}

#outputData{
    padding: 0px 20px;
}

